.about-section {
  padding-top: 30px;
}

.about-section__article {
  max-width: 800px;
  color: var(--white-color);
}

.about-section__article-title {
  font-size: 60px;
  font-family: Roboto Slab;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 26px;
}

.about-section__article-text {
  color: var(--light-gray-color);
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 200;
  line-height: 158.47%;
  margin-bottom: 10px;
}

.about-section__copyright-title {
  font-size: 36px;
  font-family: Roboto Slab;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 26px;
}

.about-section__copyright-text {
  color: var(--light-gray-color);
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 200;
  line-height: 158.47%;
}

@media (max-width: 530px) {
  .about-section__article-title {
    font-size: 48px;
  }
  .about-section__article-text {
    font-size: 16px;
  }
  .about-section__copyright-title {
    font-size: 30px;
  }
  .about-section__copyright-text {
    font-size: 16px;
  }
}

@media (max-width: 380px) {
  .about-section__article-title {
    font-size: 40px;
  }
  .about-section__article-text {
    font-size: 14px;
  }
  .about-section__copyright-title {
    font-size: 26px;
  }
  .about-section__copyright-text {
    font-size: 14px;
  }
}
