@use '@/styles/mixins';

.about {
   padding-top: 30px;

   &__article {
      max-width: 800px;
      color: var(--white-color);
   }

   &__article-title {
      @include mixins.subtitle;

      margin-bottom: 26px;
   }

   &__article-text {
      color: var(--light-gray-color);
      font-size: 18px;
      font-family: Montserrat, sans-serif;
      font-weight: 200;
      line-height: 158.47%;
      margin-bottom: 30px;
   }

   &__copyright-title {
      font-size: 20px;
      font-family: Montserrat, sans-serif;
      font-weight: 700;
      line-height: 1.5;
      margin-bottom: 8px;
   }

   &__copyright-text {
      color: var(--light-gray-color);
      font-size: 14px;
      font-family: Montserrat, sans-serif;
      font-weight: 200;
      line-height: 158.47%;
   }

   &__copyright-text + &__copyright-text {
      margin-top: 10px;
   }

   @media (width <= 530px) {
      &__article-title {
         font-size: 48px;
      }

      &__article-text {
         font-size: 16px;
      }

      &__copyright-title {
         font-size: 30px;
      }

      &__copyright-text {
         font-size: 16px;
      }
   }

   @media (width <= 380px) {
      &__article-title {
         font-size: 40px;
      }

      &__article-text {
         font-size: 14px;
      }

      &__copyright-title {
         font-size: 26px;
      }

      &__copyright-text {
         font-size: 14px;
      }
   }
}
