@use '@/styles/mixins';

.home {
   max-width: 840px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   line-height: 1.5;

   &__title {
      @include mixins.title;

      color: var(--white-color);
      text-align: center;
      margin-bottom: 15px;
   }

   &__description {
      margin-bottom: 30px;

      &-text {
         display: inline;
         color: var(--red-color);
         font-family: Montserrat, sans-serif;
         font-weight: 400;
         line-height: 1.5;
      }

      &-link {
         display: inline-flex;
         align-items: center;
         color: var(--red-color);
         font-size: 16px;
         font-family: Montserrat, sans-serif;
         font-weight: 400;
         line-height: 1.2;
         transition: color 0.2s;

         &:hover {
            color: var(--dark-red-color);

            .home__description-icon {
               transform: translateX(2px);
            }
         }
      }

      &-icon {
         transition: 0.2s;
      }
   }

   &__content {
      display: flex;
      gap: 20px;
      align-items: center;
   }

   &__image {
      width: 539px;
      height: 294px;
      padding: 8px;
      border-radius: 16px;
      border: 1px solid #e6e6e62d;

      @include mixins.glass-background;
   }
}
