@use '@/styles/mixins';

.contact {
   max-width: 800px;

   &__title {
      color: var(--white-color);

      @include mixins.subtitle;

      margin-bottom: 11px;
   }

   &__text {
      color: var(--light-gray-color);
      font-size: 18px;
      font-family: Montserrat, sans-serif;
      font-weight: 200;
      line-height: 1.5;
      margin-bottom: 32px;
   }
}

@media (width <= 570px) {
   .contact {
      text-align: center;
   }
}

@media (width <= 530px) {
   .contact {
      &__title {
         font-size: 48px;
      }

      &__text {
         font-size: 16px;
      }
   }
}

@media (width <= 380px) {
   .contact {
      &__title {
         font-size: 40px;
      }

      &__text {
         font-size: 14px;
      }
   }
}
