.select {
   max-width: 320px;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 10px;

   &__title {
      color: var(--white-color);
      font-size: 16px;
      font-family: Montserrat, sans-serif;
      font-weight: 500;
      line-height: 22px;
      text-transform: lowercase;

      &::first-letter {
         text-transform: uppercase;
      }
   }

   &__title--disabled {
      color: var(--gray-color);
      opacity: 0.5;
   }

   &__menu {
      font-size: 16px;
      font-family: Montserrat, sans-serif;
      font-weight: 500;
      line-height: 22px;
      width: 100%;
   }
}
