@use './variables';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&family=Roboto+Slab:wght@700&display=swap';

*,
*::after,
*::before {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html,
body {
   overflow-x: hidden;
}

body {
   position: relative;
   min-width: 768px;
   height: 100dvh;
   background-image: url('/assets/background-img.webp');
   background-size: cover;
   background-repeat: no-repeat;
}

a {
   color: unset;
   text-decoration: unset;
}

.scroll-lock {
   overflow: hidden;
}
