.error-boundary {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.error-boundary__title {
  font-size: 30px;
  color: var(--red-color);
}

.error-boundary__text {
  font-size: 26px;
  color: var(--gray-color);
}

.error-boundary__link {
  color: var(--red-color);
  font-size: 26px;
}

.error-boundary__link:hover {
  text-decoration: underline;
}
