.main-button {
   width: 100%;
   min-width: 200px;
   height: 40px;
   border-radius: 20px;
   background-color: var(--red-color);
   color: var(--white-color);
   font-size: 16px;
   font-family: Montserrat, sans-serif;
   font-weight: 500;
   border: none;
   cursor: pointer;
   transition: 0.2s;

   &:hover {
      background-color: var(--dark-red-color);
   }

   &:disabled {
      opacity: 0.3;
      pointer-events: none;
   }
}

.primary-with-arrow {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 4px;

   &:hover {
      svg {
         transform: translateX(4px);
      }
   }

   svg {
      transition: transform 0.2s;
      width: 24px;
      height: 24px;
   }
}
