.main-button {
   width: 220px;
   height: 40px;
   border-radius: 20px;
   background-color: var(--red-color);
   color: var(--white-color);
   font-size: 14px;
   font-family: Montserrat, sans-serif;
   font-weight: 700;
   text-transform: uppercase;
   border: none;
   cursor: pointer;
   transition: 0.3s;

   &:hover {
      background-color: var(--dark-red-color);
   }

   &:disabled {
      opacity: 0.3;
      pointer-events: none;
   }
}

.primary-with-arrow {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 8px;

   svg {
      width: 20px;
      height: 20px;
   }
}
