.select {
  max-width: 320px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select:nth-child(2) {
  order: 3;
}

.select:nth-child(3) {
  order: 5;
}

.select:nth-child(4) {
  order: 2;
}

.select:nth-child(5) {
  order: 4;
}

.select__title {
  color: var(--white-color);
  font-size: 16px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}

.select__title--disabled {
  color: var(--gray-color);
  opacity: 0.5;
}

.select__menu {
  font-size: 16px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}
