@use '@/styles/mixins';

.account {
   min-height: 100dvh;
   padding: 24px 40px;
   display: flex;
   flex-direction: column;
   gap: 24px;

   @include mixins.container;

   &-header {
      position: sticky;
      top: 24px;

      @include mixins.glass-bar;
   }
}
