@use '@/styles/mixins';

.account {
   min-height: 100dvh;
   padding: 24px 40px;
   display: flex;
   flex-direction: column;
   gap: 24px;

   @include mixins.container;

   &-header {
      position: sticky;
      top: 24px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
      padding: 8px;
      border-radius: 1000px;
      z-index: 2;
      isolation: isolate;

      &::before {
         content: '';
         position: absolute;
         inset: 0;

         @include mixins.glass-background;

         border: 1px solid #e6e6e62d;
         border-radius: inherit;
         pointer-events: none;
         z-index: 0;
      }

      > * {
         position: relative;
         z-index: 1;
      }

      &__left {
         display: flex;
         align-items: center;
         gap: 12px;
      }

      &__logo {
         color: var(--red-color);
         font-size: 24px;
         font-family: Montserrat, sans-serif;
         font-weight: 600;
         text-transform: uppercase;
      }
   }
}
