@use '@/styles/mixins';

.account {
   min-height: 100dvh;
   padding: 24px 40px;
   display: flex;
   flex-direction: column;
   gap: 24px;

   @include mixins.container;

   &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;

      @include mixins.glass-background;

      border: 1px solid #e6e6e62d;
      border-radius: 1000px;
      padding: 8px;
      position: relative;
      z-index: 1;

      &__left {
         display: flex;
         align-items: center;
         gap: 16px;
      }
   }
}
