@use '@/styles/mixins';

.account {
   min-height: 100dvh;
   padding: 40px;
   display: flex;
   flex-direction: column;

   &__user {
      width: fit-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: flex-end;
      gap: 8px;

      @include mixins.glass-background(rgba(206, 206, 206, 0.1));

      border: 1px solid #e6e6e62d;
      border-radius: 16px;
      padding: 16px;

      &-image {
         border-radius: 50%;
         border: 1px solid #e6e6e62d;
      }

      &-placeholder {
         display: flex;
         justify-content: center;
         align-items: center;
         width: 100px;
         height: 100px;
         border: #e6e6e62d 1px solid;
         border-radius: 50%;

         svg {
            width: 40px;
            height: 40px;
            color: var(--white-color);
         }
      }

      &-name {
         font-size: 24px;
         font-family: Montserrat, sans-serif;
         color: var(--white-color);
      }
   }
}
