.preview-images {
   &__image {
      position: relative;
      width: 50px;
      height: 50px;
      border-radius: 8px;
      background-size: cover;
      background-position: center;
      border: none;
      transition:
         transform 0.2s,
         outline-color 0.2s;
      outline: 1px solid transparent;

      &:hover {
         transform: scale(1.05);
         outline-color: #e6e6e6c2;
      }
   }

   &__image--hidden {
      background-color: var(--light-gray-color);
      opacity: 0.5;
   }

   &__image--active {
      outline: 2px solid var(--red-color);

      &:hover {
         transform: scale(1);
         outline: 2px solid var(--red-color);
      }

      &::before {
         background: initial;
      }
   }
}
