@use '@/styles/mixins';

.slider-navigation {
   position: absolute;
   top: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   z-index: 4;
   border: none;
   transition: 0.2s;
   background: transparent;

   &:disabled {
      display: none;
   }

   &--left {
      top: calc(50% - 76px);
      left: 20px;
   }

   &--right {
      top: calc(50% - 76px);
      right: 20px;
   }

   &--close {
      width: auto;
      height: auto;
      top: 20px;
      right: 20px;
      opacity: 1;
      background: transparent;
      cursor: pointer;
      z-index: 5;
   }

   &--hidden-left {
      transform: translateX(-80px);
   }

   &--hidden-right {
      transform: translateX(80px);
   }

   &--hidden-close {
      transform: translateX(80px);
   }

   &--invisible {
      visibility: hidden;
   }

   &__icon {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      padding: 8px;
      color: var(--white-color);
      transition: transform 0.2s;

      @include mixins.glass-background;

      path {
         transition: fill 0.2s;
      }

      &:hover {
         transform: scale(1.05);

         path {
            fill: var(--red-color);
         }
      }
   }
}
