@mixin glass-background($color: rgb(49 49 49 / 60%), $blur: 4px) {
   background: $color;
   backdrop-filter: blur($blur);
}

@mixin flex-center($direction: row, $gap: 0) {
   display: flex;
   flex-direction: $direction;
   align-items: center;
   justify-content: center;
   gap: $gap;
}

@mixin container {
   margin: 0 auto;
   max-width: 1380px;
   padding-inline: 40px;
}

@mixin title {
   font-size: 50px;
   font-family: Montserrat, sans-serif;
   font-weight: 600;
   line-height: 1;
}

@mixin subtitle {
   font-size: 40px;
   font-family: Montserrat, sans-serif;
   font-weight: 600;
   line-height: 1;
}

@mixin text {
   font-size: 24px;
   font-family: Montserrat, sans-serif;
   font-weight: 400;
   line-height: 1;
}
