:root {
   --red-color: #f12354;
   --dark-red-color: #ae1a3c;
   --black-color: #191919;
   --dark-gray-color: #474747;
   --gray-color: #7f7f7f;
   --light-gray-color: #e7e7e7;
   --white-color: #f5f5f5;
}
