.contact-section {
  max-width: 800px;
}

.contact-section__title {
  color: var(--white-color);
  font-size: 60px;
  font-family: Roboto Slab;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 11px;
}
.contact-section__text {
  color: var(--light-gray-color);
  font-size: 18px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 200;
  line-height: 158.47%;
  margin-bottom: 32px;
}
.contact-section__form {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
}
.contact-section__form-input {
  max-width: 380px;
  height: 40px;
  border-radius: 20px;
  border: none;
  padding-left: 24px;
  color: var(--dark-gray-color);
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 40px;
}

.contact-section__form-input::placeholder {
  color: var(--gray-color);
  opacity: 1;
}
.contact-section__form-textarea {
  max-width: 800px;
  height: 240px;
  resize: none;
  grid-column: 1 / 3;
  padding-top: 17px;
  padding-left: 25px;
  border-radius: 20px;
  border: none;
  color: var(--dark-gray-color);
  font-size: 16px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 40px;
}

.contact-section__form-textarea::placeholder {
  color: var(--gray-color);
  opacity: 1;
}

.contact-section__form-message {
  width: 100%;
  position: absolute;
  text-align: center;
  color: var(--red-color);
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 20px;
  right: 50%;
  transform: translateX(50%);
  bottom: -70px;
}

@media (max-width: 570px) {
  .contact-section {
    text-align: center;
  }
  .contact-section__form {
    column-gap: 20px;
  }
  .contact-section__form-input {
    max-width: 220px;
  }

  .contact-section__form-input--email {
    place-self: end;
  }
  .contact-section__form-btn {
    grid-column: 1 / 3;
    place-self: center;
  }
}

@media (max-width: 530px) {
  .contact-section__title {
    font-size: 48px;
  }
  .contact-section__text {
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .contact-section__form {
    grid-template-columns: 1fr;
  }
  .contact-section__form-input {
    max-width: 460px;
  }

  .contact-section__form-input--email {
    place-self: initial;
  }
  .contact-section__form-btn {
    grid-column: 1 / 2;
  }

  .contact-section__form-textarea {
    grid-column: 1 / 2;
  }
}

@media (max-width: 380px) {
  .contact-section__title {
    font-size: 40px;
  }
  .contact-section__text {
    font-size: 14px;
  }
}
