@use '@/styles/mixins';

.home {
   max-width: 840px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   line-height: 1.5;

   &__title {
      color: var(--white-color);
      text-align: center;
      font-size: 50px;
      font-family: Montserrat, sans-serif;
      font-style: normal;
      font-weight: 600;
      line-height: 1;
      margin-bottom: 15px;
   }

   &__description {
      color: var(--red-color);
      font-size: 18px;
      font-family: Montserrat, sans-serif;
      font-style: normal;
      font-weight: 400;
      line-height: 1.5;
      margin-bottom: 29px;
      max-width: 520px;
   }

   &__objects-form {
      max-width: 520px;
      border-radius: 24px;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 24px;
      padding: 30px;
      border: 1px solid #e6e6e62d;

      @include mixins.glass-background(rgba(206, 206, 206, 0.1));
   }
}
