@use '@/styles/mixins';

.app {
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   gap: 50px;
   justify-content: space-between;

   &__content {
      @include mixins.container;
   }
}
