.control-panel {
  position: relative;
}

.control-panel__buttons {
  display: flex;
  gap: 10px;
}

.control-panel__btn {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--light-gray-color);
  border-radius: 50%;
  background-color: transparent;
  color: var(--light-gray-color);
  cursor: pointer;
  transition: 0.3s;
}

.control-panel__btn-icon {
  width: 27px;
  height: 27px;
}

.control-panel__btn-icon--play {
  width: 18px;
  height: 18px;
  margin-left: 3px;
}

.control-panel__btn-icon--pause {
  width: 22px;
  height: 22px;
}

.control-panel__btn-icon--next {
  margin-left: 2px;
}

.control-panel__btn-icon--prev {
  margin-right: 2px;
}

.control-panel__timer {
  position: absolute;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  width: 98px;
  align-items: center;
  top: 50%;
  right: -120px;
  transform: translateY(-50%);
  color: var(--light-gray-color);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}

@media (max-width: 945px) {
  .control-panel__timer {
    display: none;
  }
}
