.root {
   width: 100%;
   height: 100dvh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 20px;
}

.title {
   font-size: 30px;
   color: var(--red-color);
}

.text {
   font-size: 26px;
   color: var(--gray-color);
}

.link {
   color: var(--red-color);
   font-size: 26px;
}

.link:hover {
   text-decoration: underline;
}
