.skeleton {
   width: 100%;
   height: 100vh;
   background-color: var(--black-color);
   display: flex;
   justify-content: center;
   align-items: center;

   &__animation {
      width: 200px;
      height: 10px;
      margin-bottom: 60px;

      [class*='react-loading-skeleton'] {
         --pseudo-element-display: block;
      }
   }
}
