@use '@/styles/mixins';

.preview-dots {
   position: absolute;
   top: -68px;
   left: 50%;
   transform: translateX(-50%);
   display: flex;
   justify-content: space-between;
   gap: 10px;
   opacity: 0;
   transition: 0.2s ease;

   &--raised {
      top: -70px;
   }

   &--visible {
      opacity: 1;
   }

   &__dot {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      position: relative;

      @include mixins.glass-background;

      &::after {
         content: '';
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 100%;
         height: 100%;
         border-radius: 50%;
         background-color: rgb(255 255 255 / 50%);
      }

      &--active {
         &::after {
            display: none;
         }

         background-color: var(--red-color);
      }
   }
}
