@use '@/styles/mixins';

.modal {
   width: 100%;
   height: 100%;
   background-color: rgb(0 0 0 / 80%);
   position: absolute;
   top: 0;
   left: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 6;
}

.modal__container {
   width: 800px;
   height: 400px;
   display: flex;
   position: relative;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 21px;
   border-radius: 20px;
   text-align: center;
   padding: 10px;
   border: 1px solid #e6e6e62d;

   @include mixins.glass-background;
}

@media (width <= 860px) {
   .modal__container {
      width: 700px;
   }
}

.modal__close {
   position: absolute;
   top: 20px;
   right: 20px;
   cursor: pointer;
}

.modal__title {
   color: var(--white-color);
   font-family: Montserrat, sans-serif;
   font-size: 34px;
   font-weight: 700;
   line-height: 60px;
}

.modal__buttons-wrap {
   display: flex;
   gap: 29px;
}
