.barCompleted {
  height: 8px;
  width: 38.33%;
  background: rgb(241, 35, 84);
  transition: width 1s linear 0s;
  border-radius: inherit;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
