@use '@/styles/mixins';

.not-found {
   width: 100%;
   height: 100dvh;
   color: var(--white-color);
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

   &__container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 40px;
      width: 100%;
      max-width: 700px;
      height: 400px;
      border-radius: 20px;

      @include mixins.glass-background;
   }

   &__title {
      @include mixins.subtitle;
   }

   &__description,
   &__text {
      @include mixins.text;
   }

   &__link {
      color: var(--red-color);
      transition: color 0.2s;

      @include mixins.text;

      &:hover {
         color: var(--dark-red-color);
      }
   }
}
