.footer {
   width: 100%;
   text-align: end;
   background-color: var(--black-color);
   color: var(--light-gray-color);
   border: rgb(2 2 22) 1px solid;
   font-size: 16px;
   font-family: Montserrat, sans-serif;
   font-weight: 400;
   line-height: 22px;
   padding: 20px;
   opacity: 0;
   z-index: -1;
}
