.slider-footer {
   width: 100%;
   height: 88px;
   position: absolute;
   bottom: 0;
   padding-inline: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(0 0 0 / 80%);
   transition: 0.3s;
   z-index: 3;

   &--hidden {
      bottom: -88px;
   }

   &__logo {
      position: absolute;
      left: 40px;
      font-family: Montserrat, sans-serif;
   }

   &__credit {
      position: absolute;
      font-family: Montserrat, sans-serif;
      font-size: 16px;
      font-weight: 700;
      line-height: 22px;
      color: var(--light-gray-color);
      right: 40px;
   }

   &__credit-name {
      color: var(--red-color);
   }
}
