.slider-footer {
   width: 100%;
   height: 88px;
   position: absolute;
   bottom: 0;
   padding-inline: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   background: rgb(49 49 49 / 60%);
   backdrop-filter: blur(16px);
   border-radius: 16px 16px 0 0;
   transition: 0.3s;
   z-index: 3;

   &--hidden {
      bottom: -88px;
   }

   &__logo {
      position: absolute;
      left: 40px;
      font-family: Montserrat, sans-serif;
      font-weight: 600;
      font-size: 22px;
   }

   &__credit {
      position: absolute;
      font-family: Montserrat, sans-serif;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: var(--white-color);
      right: 40px;
   }

   &__credit-name {
      color: var(--red-color);
      font-weight: 600;
   }
}
