.preview-images {
   &__image {
      position: relative;
      width: 50px;
      height: 50px;
      border-radius: 8px;
      background: linear-gradient(0deg, rgb(127 127 127 / 50%) 0%, rgb(127 127 127 / 50%) 100%);
      background-size: cover;
      background-position: center;
      border: none;
   }

   &__image--hidden {
      background-color: var(--light-gray-color);
      opacity: 0.5;
   }

   &__image--active {
      outline: 3px solid var(--red-color);

      &::before {
         background: initial;
      }
   }
}
