@use '@/styles/mixins';

.image-slider {
   height: 100%;
   position: relative;

   &__img {
      width: 100%;
      height: 100%;
      object-fit: contain;
   }

   &__loader {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 58px;
      color: var(--red-color);
      background-size: cover;
      z-index: 1;

      &-background {
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         background:
            linear-gradient(to bottom, rgb(10 10 10 / 80%), rgb(10 10 10 / 80%)),
            url('/assets/background-img.webp');
         background-size: cover;
         z-index: 1;
      }

      &-icon {
         position: absolute;
         animation: rotate 1s linear infinite;
         top: calc(50% - 94px);
         z-index: 2;
      }
   }

   &__control-wrapper {
      position: static;
   }

   &__button-wrapper {
      width: 100%;
      height: 100%;
      position: absolute;
      top: -60px;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      z-index: 2;
      cursor: pointer;
   }

   & .image-slider__button {
      width: 85px;
      height: 85px;
      border: none;
      transition: 0.2s;

      @include mixins.glass-background;

      &:hover {
         transform: scale(1.05);
      }

      svg {
         width: 27px;
         height: 27px;
      }
   }

   &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: rgb(0 0 0 / 60%);
      color: var(--light-gray-color);
      cursor: pointer;
      z-index: 1;
   }
}

@keyframes rotate {
   100% {
      transform: rotate(360deg);
      opacity: 1;
   }
}
