@use '@/styles/mixins';

.startup-card {
   align-self: flex-start;
   border-radius: 24px;
   width: 100%;
   max-width: 539px;
   display: flex;
   gap: 8px;
   padding: 8px;
   border: 1px solid #e6e6e62d;
   margin: 24px auto 0;

   @include mixins.glass-background(rgba(206, 206, 206, 0.1));
}

// .startup-card__text {
//    color: var(--white-color);
//    font-size: 14px;
//    font-family: Montserrat, sans-serif;
//    font-weight: 500;
//    text-transform: uppercase;
// }
