.preview-images {
   display: flex;
   align-items: center;
   gap: 8px;

   &__viewport {
      display: flex;
      align-items: center;
      gap: 10px;
   }

   &__viewport--slider {
      max-width: 474px;
      overflow-x: auto;
      padding: 2px;
      scroll-behavior: smooth;
      scrollbar-width: none;

      &::-webkit-scrollbar {
         display: none;
      }
   }

   &__arrow {
      width: 28px;
      height: 28px;
      border: none;
      border-radius: 50%;
      background-color: transparent;
      color: var(--white-color);
      cursor: pointer;
      transition: opacity 0.2s;
      font-size: 30px;
      line-height: 30px;
      display: flex;
      align-items: flex-end;
      justify-content: center;

      &:disabled {
         opacity: 0.35;
         cursor: default;
      }
   }

   &__image {
      position: relative;
      width: 50px;
      min-width: 50px;
      height: 50px;
      border-radius: 8px;
      background-size: cover;
      background-position: center;
      border: none;
      transition:
         transform 0.2s,
         outline-color 0.2s;
      outline: 1px solid transparent;

      &:hover {
         transform: scale(1.05);
         outline-color: #e6e6e6c2;
      }
   }

   &__image--hidden {
      background-color: var(--light-gray-color);
      opacity: 0.5;
   }

   &__image--active {
      outline: 2px solid var(--red-color);

      &:hover {
         transform: scale(1);
         outline: 2px solid var(--red-color);
      }

      &::before {
         background: initial;
      }
   }
}
