@use '@/styles/mixins';

.control-bar {
   display: flex;
   width: 100%;
   max-width: 1300px;
   align-items: center;
   gap: 12px;
   position: fixed;
   left: 50%;
   transform: translateX(-50%);
   bottom: 24px;
   min-height: 56px;
   padding: 8px;
   border-radius: 1000px;

   &::before {
      content: '';
      position: absolute;
      inset: 0;

      @include mixins.glass-background;

      border: 1px solid #e6e6e62d;
      pointer-events: none;
      z-index: 0;
      border-radius: 1000px;
   }

   > * {
      position: relative;
      z-index: 1;
   }

   @media (width <= 1380px) {
      left: 40px;
      right: 40px;
      width: unset;
      transform: unset;
   }

   &__count {
      width: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 100%;
      gap: 16px;
      font-weight: 500;
   }

   &__value {
      display: flex;
      align-items: center;
      font-size: 20px;
      font-family: Montserrat, sans-serif;
      color: var(--white-color);
      border: 1px solid #e6e6e62d;
      padding: 0 20px;
      border-radius: 1000px;
      height: 40px;
   }

   &__label {
      font-size: 16px;
      font-family: Montserrat, sans-serif;
      color: var(--white-color);
      opacity: 1;
   }

   &__reset-button {
      width: fit-content;
      font-size: 16px;
      font-family: Montserrat, sans-serif;
      color: var(--white-color);
      border: none;
      background-color: transparent;
      cursor: pointer;
      font-weight: 500;
      margin-left: auto;
      padding: 0 20px;
      height: 100%;
   }

   &__empty {
      font-size: 16px;
      font-family: Montserrat, sans-serif;
      color: var(--white-color);
      width: 100%;
      font-weight: 500;
      text-align: center;
   }

   & .control-bar__start-button {
      width: fit-content;
   }

   & .control-bar__select {
      width: fit-content;
   }
}
