@use '@/styles/mixins';

.policy {
   padding-top: 30px;

   &__article {
      max-width: 800px;
      color: var(--white-color);
   }

   &__article-title {
      @include mixins.subtitle;

      margin-bottom: 26px;
   }

   &__article-text {
      color: var(--light-gray-color);
      font-size: 18px;
      font-family: Montserrat, sans-serif;
      font-weight: 200;
      line-height: 158.47%;
      margin-bottom: 20px;

      &:last-child {
         margin-bottom: 0;
      }
   }

   @media (width <= 530px) {
      &__article-title {
         font-size: 48px;
      }

      &__article-text {
         font-size: 16px;
      }
   }
}
