.not-found {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  font-size: 22px;
  color: var(--gray-color);
}

.not-found__link {
  color: var(--red-color);
}

.not-found__link:hover {
  text-decoration: underline;
}
