@use '@/styles/mixins';

.slider-footer {
   width: 100%;
   height: 94px;
   position: absolute;
   bottom: 0;
   padding-inline: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 16px 16px 0 0;
   z-index: 3;
   overflow: hidden;
   padding-top: 6px;
   transition: 0.3s;
   outline: 1px solid #e6e6e6c2;

   @include mixins.glass-background;

   &--hidden {
      transform: translateY(88px);
      overflow: visible;
      border-radius: 0;
   }

   &__logo {
      position: absolute;
      left: 40px;
      font-family: Montserrat, sans-serif;
      font-weight: 600;
      font-size: 22px;
      color: var(--red-color);
   }

   &__credit {
      position: absolute;
      font-family: Montserrat, sans-serif;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: var(--white-color);
      right: 40px;
   }

   &__credit-name {
      color: var(--red-color);
      font-weight: 600;
   }
}
