@mixin title {
   font-size: 50px;
   font-family: Montserrat, sans-serif;
   font-weight: 600;
   line-height: 1;
}

@mixin subtitle {
   font-size: 40px;
   font-family: Montserrat, sans-serif;
   font-weight: 600;
   line-height: 1;
}

@mixin text {
   font-size: 24px;
   font-family: Montserrat, sans-serif;
   font-weight: 400;
   line-height: 1;
}
